version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: user_db_mysql
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: user_db
      MYSQL_USER: app_user
      MYSQL_PASSWORD: app_password
    ports:
      - "3306:3306"
    volumes:
      - ./auth-service/scripts/user-db.sql:/docker-entrypoint-initdb.d/user-db.sql
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data: